### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/gen/Latino.interp
/gen/Latino.tokens
/gen/LatinoBaseListener.java
/gen/LatinoBaseVisitor.java
/gen/LatinoLexer.java
/gen/LatinoLexer.interp
/gen/LatinoLexer.tokens
/gen/LatinoListener.java
/gen/LatinoParser.java
/gen/LatinoVisitor.java
/.idea/
